pkgbase = python-libmamba
	pkgdesc = The fast cross-platform package manager
	pkgver = 2024.09.30
	pkgrel = 1
	url = https://github.com/mamba-org/mamba
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cli11
	makedepends = spdlog
	makedepends = tl-expected
	makedepends = nlohmann-json
	makedepends = ccache
	makedepends = python-cmake>=3.18
	makedepends = doctest
	makedepends = python-ninja
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build>=0.13
	makedepends = python-setuptools>=42
	makedepends = python-wheel
	depends = fmt
	depends = libsolv
	depends = python>=3.9
	depends = reproc
	depends = yaml-cpp>=0.8.0
	depends = simdjson
	provides = libmamba=2024.09.30
	provides = python-libmambapy=2024.09.30
	conflicts = micromamba
	source = mamba-2024.09.25-2024.09.30.tar.gz::https://github.com/mamba-org/mamba/archive/refs/tags/2024.09.25.tar.gz
	sha512sums = 6b3e64255f8aa63723dd08f578f79195b46249a02002b6d0d77713fd181f0557e3b6044075a823e639b0240b07b4e17dd0c9c17790c9152a68992e3ca9a599fa

pkgname = python-libmamba
