pkgbase = python-conda
	pkgdesc = OS-agnostic, system-level binary package manager and ecosystem https://conda.io
	pkgver = 24.9.2
	pkgrel = 1
	url = https://github.com/conda/conda
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-wheel
	depends = python>=3.7
	depends = python-archspec
	depends = python-boltons
	depends = python-boto3
	depends = python-botocore
	depends = python-conda-package-handling
	depends = python-conda-libmamba-solver
	depends = python-pluggy>=1.0.0
	depends = python-pycosat>=0.6.3
	depends = python-requests>=2.20.1
	depends = python-ruamel-yaml>=0.11.14
	depends = python-tqdm
	provides = python-conda
	provides = python-conda-env
	options = !emptydirs
	backup = etc/conda/condarc
	source = conda-24.9.2.tar.gz::https://github.com/conda/conda/archive/24.9.2.tar.gz
	sha512sums = b293253eb8174580dfd63142863c7652c285912fb64253bef5bf7994bfa9ee6dec71af926f7082613d44b9c97d966877d86815b6b19f45319b9edf844978f3ee

pkgname = python-conda
