pkgbase = python-conda-libmamba-solver
	pkgdesc = The libmamba based solver for conda.
	pkgver = 25.1.1
	pkgrel = 1
	url = https://github.com/conda/conda-libmamba-solver
	arch = any
	license = BSD-3-Clause
	makedepends = python-hatch-vcs
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-libmambapy
	depends = python-boltons
	source = python-conda-libmamba-solver-25.1.1.tar.gz::https://github.com/conda/conda-libmamba-solver/archive/539f05b15aca43c50222cc98d6c6fd39368f7cd3.tar.gz
	sha256sums = deeb825cbf61131760f4fcf556e33d73e8eeba8354896d7a34ae6fd78a86683c

pkgname = python-conda-libmamba-solver
