pkgbase = python-cmake-bin
	pkgdesc = Infrastructure for building CMake Python wheels
	pkgver = 3.30.3
	pkgrel = 2
	url = https://github.com/cikit-build/cmake
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = python-installer
	depends = python
	provides = python-cmake=3.30.3
	conflicts = python-cmake=3.30.3
	options = !strip
	source_x86_64 = https://files.pythonhosted.org/packages/py3/c/cmake/cmake-3.30.3-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
	sha256sums_x86_64 = 6e294e3f424175b085809f713dd7ee36edd36b6b8a579911ef90359d8f884658
	source_aarch64 = https://files.pythonhosted.org/packages/py3/c/cmake/cmake-3.30.3-py3-none-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
	sha256sums_aarch64 = 81e5dc3103a4c6594d3efdf652e21e21d610e264f0c489ebefa3db04b1cdd2bc

pkgname = python-cmake-bin
