pkgbase = jupyterlab-extension-jupyterlab_git
	pkgdesc = Git extension for JupyterLab
	pkgver = 0.54.1
	pkgrel = 1
	url = https://github.com/jupyterlab/jupyterlab-git
	arch = any
	license = BSD
	makedepends = unzip
	depends = jupyterlab
	depends = jupyter-server
	depends = python-nbdime
	depends = jupyter-nbformat
	depends = python-packaging
	depends = python-pexpect
	depends = python-traitlets
	provides = jupyterlab-extension-git
	provides = python-jupyterlab-git
	source = https://files.pythonhosted.org/packages/py3/j/jupyterlab-git/jupyterlab_git-0.54.1-py3-none-any.whl
	sha256sums = c1a9bd469e05933501e541f63774b5a74db30aedb3344aafda0f0d0362878218

pkgname = jupyterlab-extension-jupyterlab_git
