pkgbase = python-pyefd
	pkgdesc = Elliptic Fourier Features of a Closed Contour
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/hbldh/pyefd
	arch = any
	license = MIT
	depends = python-numpy
	noextract = pyefd-1.7.0-py2.py3-none-any.whl
	source = https://files.pythonhosted.org/packages/py2.py3/p/pyefd/pyefd-1.7.0-py2.py3-none-any.whl
	sha256sums = c6bfbe2a7dae24dd5fa76b87817c1ec64459047f9c082ec060a1fee77c27dfcf

pkgname = python-pyefd
