pkgbase = python-anndata
	pkgdesc = A data structure for rectangular numeric data and sample/variable annotations.
	pkgver = 0.10.8
	pkgrel = 1
	url = https://github.com/theislab/anndata
	arch = any
	license = BSD
	makedepends = python-hatch-vcs
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-pandas
	depends = python-scipy
	depends = python-h5py
	depends = python-natsort
	depends = python-packaging
	depends = python-array-api-compat
	source = https://files.pythonhosted.org/packages/source/a/anndata/anndata-0.10.8.tar.gz
	sha256sums = b728a33225eeaaefddf6bed546d935c0f06881c9166621b24de3b492b2f406bb

pkgname = python-anndata
