pkgbase = python-mizani
	pkgdesc = Scales for python
	pkgver = 0.12.2
	pkgrel = 1
	url = https://github.com/has2k1/mizani
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-numpy
	depends = python-scipy
	depends = python-pandas
	source = https://files.pythonhosted.org/packages/source/m/mizani/mizani-0.12.2.tar.gz
	sha256sums = b44ab57a57794c6fdabcc2c423860fa042c7e6410f073c9b2959e0e768e0b7a8

pkgname = python-mizani
