pkgbase = python-session-info2
	pkgdesc = Display information about the current Python session.
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/scverse/session-info2
	arch = any
	license = MPL-2.0
	makedepends = python-hatch-vcs
	makedepends = python-hatch-docstring-description
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = https://files.pythonhosted.org/packages/source/s/session_info2/session_info2-0.2.tar.gz
	sha256sums = e925d34d0a298afe19421d55287e8fb9ace3c8f6390832aa11c641f01bab4177

pkgname = python-session-info2
