pkgbase = python-entry-points-txt
	pkgdesc = Read & write entry_points.txt files
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/jwodder/entry-points-txt
	arch = any
	license = MIT
	depends = python
	noextract = entry_points_txt-0.2.1-py3-none-any.whl
	source = https://files.pythonhosted.org/packages/py3/e/entry-points-txt/entry_points_txt-0.2.1-py3-none-any.whl
	sha256sums = 90abc88ac448b19c7ef08388a2ee066e2151da719cd6cbb6437b5deead5c808c

pkgname = python-entry-points-txt
