pkgbase = python-fintech
	pkgdesc = Finance tech: SEPA, EBICS & more
	pkgver = 7.9.2
	pkgrel = 1
	url = https://www.joonis.de/en/fintech/
	arch = any
	license = custom:restricted use
	makedepends = python-installer
	depends = python>=3.13
	depends = python<3.14
	depends = python-lxml
	depends = python-cryptography
	depends = python-certifi
	depends = python-fpdf2
	depends = python-defusedxml
	noextract = fintech-7.9.2-cp313-none-any.whl
	source = https://files.pythonhosted.org/packages/cp313/f/fintech/fintech-7.9.2-cp313-none-any.whl
	sha256sums = 762b9607853f73ec671a077f90705e4fe38235790e6189d5c007d47ddf933c7e

pkgname = python-fintech
