pkgbase = python-fintech
	pkgdesc = Finance tech: SEPA, EBICS & more
	pkgver = 7.9.0
	pkgrel = 1
	url = https://www.joonis.de/en/fintech/
	arch = any
	license = custom:restricted use
	makedepends = python-installer
	depends = python>=3.13
	depends = python<3.14
	depends = python-lxml
	depends = python-cryptography
	depends = python-certifi
	depends = python-fpdf2
	depends = python-defusedxml
	noextract = fintech-7.9.0-cp313-none-any.whl
	source = https://files.pythonhosted.org/packages/cp313/f/fintech/fintech-7.9.0-cp313-none-any.whl
	sha256sums = c121e66909ddb929d8e0713a8fce974dda9336d54dd29613bfbe2571752b973f

pkgname = python-fintech
