pkgbase = python-zarr
	pkgdesc = An implementation of chunked, compressed, N-dimensional arrays for Python
	pkgver = 3.0.1
	pkgrel = 1
	url = https://github.com/zarr-developers/zarr-python
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-asciitree
	depends = python-numpy
	depends = python-fasteners
	depends = python-numcodecs
	source = https://files.pythonhosted.org/packages/source/z/zarr/zarr-3.0.1.tar.gz
	sha256sums = 033859c5603dc9c29e53af494ede24b42f1b761d2bb625466990a3b8a9afb792

pkgname = python-zarr
